/* header */
header .grid {
    grid-template-columns: 1fr 6fr;
    justify-items: start;
}

header {
    padding: 10px;
    background-color: azure;
}

i {
    color: black;
}


header ul li {

    margin: 0 10px;
    padding: 0 10px;
}

header ul li a {
    padding-bottom: 2px;
}

header ul li a:hover {

    border-bottom: 2px solid black;
}

/* showcase */


.showcase i {
    color: black;
}

.showcase .container {
    background-image: url(img/surface.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;

}

.btn {
    background-color: #333333;
    border-radius: 0;
    margin: 20px;
    color: black;
    background-color: white;
}


/* cards */
.cards {

    margin-top: 20px;
}

.cards a {
    color: #006788;
}

/* xbox */
.xbox .container {
    margin: 20px auto;
    background-image: url(img/xbox.jpg);
    height: 45vh;
    background-position: center;
    background-size: cover;
    padding: 2%;
    color: white;

}

.xbox .btn {
    color: black;
    background-color: white;
    margin: 0;

}

.btn:hover {
    background-color: #dddddd;

}

/* carbon  */